{% extends "base.html" %}
{% block content %}

      <!-- Three columns of text below the carousel -->
      <div class="row">
        {% for user in users %}
        <div class="col-lg-3">
          <img class="img-circle" alt="140x140" src="{{ user.avatar(140) }}" style="width: 140px; height: 140px;">
          <h2>{{ user.username }}</h2>
          <p><a class="btn btn-default" href="/about/{{ user.username }}/" role="button">View details »</a></p>
        </div><!-- /.col-lg-3 -->
        {% endfor %}
      </div><!-- /.row -->

      <hr class="featurette-divider">

      {% if user %}
      <div class="user">
        <img alt="200x200" src="{{ user.avatar(200) }}" style="width: 200px; height: 200px;">
        <h2>{{ user.username }}</h2><br>
        <a href="mailto:{{ user.email }}"><p>{{ user.email }}</p></a><br>
        <a href="{{ user.website }}"><p>{{ user.website }}</p></a><br>
        <p>{{ user.bio }}</p><br>
      </div>
      {% endif %}

      <hr class="featurette-divider">

{% endblock %}