{% extends "base.html" %}
{% block content %}
	{% for news in allnews %}
    	<div class="row featurette">
	        <div class="col-md-11">
	          <h2 class="featurette-heading">{{ news.title }}</h2>
	          <hr class="featurette-divider">
	          	<p>Modified on <date>{{ news.modified.ctime() }}</date> by {{ news.user_id }}</p>
	          <hr class="featurette-divider">
	          <p class="lead">{{ news.description }}</p>
	        </div>
    	</div>
        <hr class="featurette-divider">
    {% endfor %}
{% endblock %}